<!-- camp {
    descripton, reservationURL, drivingDirections, facilityName, latitude, 
    longitude, phoneNumber, city, streetAddress, zip, photos[]
}-->


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel='stylesheet' href="/styles/base.css">
    <!-- <link rel="stylesheet" href="/public/styles/style.css"> -->

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Document</title>
    <!-- this is CSS for map -->

    <script id="first-script"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/views/style.css">

    <!-- this is CSS for map - DO NOT REMOVE -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- this is import script for map -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <title>Document</title>

</head>

<body>

    <header>


        <%- include('./layout/header', {})  %>

    </header>

    <!-- camp {
    descripton, reservationURL, drivingDirections, facilityName, latitude, 
    longitude, phoneNumber, city, streetAddress, zip, photos[]
}-->

    <main>

        <section>

            <h1><%= camp.facilityName  %></h1>
            <p><%= camp.descripton %></p>
            <p><%= camp.reservationURL %></p>
            <p>DRIVING DIRECTIONS<%= camp.drivingDirections %></p>
            <p>PHONE#: <%= camp.phoneNumber %></p>
            <p>ADDRESS: <%= camp.streetAddress %>, <%= camp.city %>, <%= camp.zip %></p>
            <p>Photos of the <%= camp.facilityName  %></p>
            <% camp.photos.forEach(e=>{ %>
            <img src="<%= e %>" />
            <% }) %>

            <p>LAT/LONG: <%= camp.latitude %>/<%= camp.longitude %></p>
            <p></p>

        </section>

    </main>

    <footer>

        <%- include('./layout/footer', {})  %>

    </footer>


</body>

</html>