<!-- VAR forcastStr is a string EXAMPLE: '47d61n122d33/seattle/' -->
<!-- VAR forcastStr is injected EXAMPLE: '47d61n122d33/seattle/' -->
<!-- VAR cityName is injected EXAMPLE: 'Los Angeles' -->
<!-- VAR camps is an array of objects -->




<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e55ec8a48b.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- this is CSS for map -->

    <script id="first-script"></script>


    <!-- this is CSS for map - DO NOT REMOVE -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- this is import script for map -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <!-- our app stylesheets -->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel='stylesheet' href="/styles/base.css">
    <link rel='stylesheet' href="/styles/menu.css">
    <link rel='stylesheet' href="/styles/searchBar2.css">
    <link rel="stylesheet" href="/styles/map-weather-buttons.css">

    <title>Document</title>

</head>

<body>

    <header>


        <%- include('../layout/header', {})  %>

    </header>


    <main>
            <%- include('../layout/searchBar', {})  %>

        <section class='search'>

            <img onclick="hideMap()" class="show-map-button" src="assets/displayed/vector-compass.png"
                alt="compass icon" />
            <img onclick="hideWeather()" class="show-weather-button" src="assets/displayed/seasons.png"
                alt="weather icon" />

            <%- include('./search-weather', {forcastStr:forcastStr, cityName:cityName})  %>

            <%- include('./map-results', {})  %>

            <%- include('./search-results', {camps:camps})  %>

        </section>
    </main>

    <footer>

        <%- include('../layout/footer', {})  %>

    </footer>


</body>

</html>