<header>
    <div>
      <a href="/">
        <h1>S'mores: Camping Explorer</h1>
      </a>
    </div>
    <nav>
      <div class="menu-icon"></div>
      <div class="logo"></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Index</a></li>
      </ul>
    </nav>
    <div class="searchbar">
        <input type="text" placeholder="Enter location">
    </div>

  </header>
  <body>
    <% searchResults.forEach(item => { %>
        
      <p><%= item.availabilityStatus %></p>
      <p><%= item.facilityName %></p>
      <p><%= item.facilityPhoto %></p>
      <a class="details-link"><%= item.details %></a>

      <form action="/books/<%= item.id %>" method="post">
        <input type="hidden" name="_method" value="create">
        <input type="hidden" name="isbn"  value = "<%= item.isbn %>" >
        <input type="hidden" name="image_url"  value = "<%= item.image %>">
        
      </form>
    </div>
      <% }) %>
 
  </body>

<footer>
    <div class="footer">
    <img src="/assets/reference/rv-camping-doodle.jpg"/>
    </div>
</footer>